<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h2 class="title has-after text-white">
                            links
                        </h2>
                    </div>
                    <!--End widget-title-->
                    <div class="widget-content">
                        <ul class="site-map">
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms of Use
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                        <!-- End Site-map-->
                    </div>
                    <!--End widget-content-->
                </div>
                <!-- Footer Widget -->
            </div>
            <!-- End col-md-2 col-sm-6 -->
            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h2 class="title has-after text-white">
                            about us
                        </h2>
                    </div>
                    <!--End widget-title-->
                    <div class="widget-content">
                        <div class="about-widget">
                            <p>
                                Jobboard is the best place to find and list jobs that aren't restricted by commutes or a particular geographic area. Find
                                the most qualified people in the most unexpected places.
                            </p>
                        </div>
                        <!--End about-widget-->
                    </div>
                    <!--End widget-content-->
                </div>
                <!-- Footer Widget -->
            </div>
            <!-- End col-md-4 col-sm-6 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h2 class="title has-after text-white">
                            follow us
                        </h2>
                    </div>
                    <!--End widget-title-->
                    <div class="widget-content">
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End widget-content-->
                </div>
                <!-- Footer Widget -->
            </div>
            <!-- End col-md-3 col-sm-6 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <div class="widget-content">
                        <a href="/add" class="custom-btn margin-0">
                            Post a Job : $<%= baseprice %> for 30 days
                        </a>
                        <p class="copy-right">
                            © Copyright - jobboard. All Rights Reserved
                        </p>
                    </div>
                    <!--End widget-content-->
                </div>
                <!-- Footer Widget -->
            </div>
            <!-- End col-md-3 col-sm-6 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<!-- End Footer-->
</div>
<!-- End Wrapper -->