/* Table-Content
===========================/
    # General
    # Links
    # Images
    # Lists
        - Social-Lists
        - Site Map    
        - long-right-list
        - Tags
        - Social Share
    # Buttons
    # Tabs
    # Widgets
    # Forms
    # Heading
    # paragraphs
    # header
    # Footer
    # Home Slider
    # page-head 
    # Wizard Head
    # Job Category
    # Job Post
    # Job Post Review
    # Site Responsive
    # Combine Css
        - # color #fff
        - background #fff
        - color f47d46
        - background f47d46
        - color 616061
*/
/*General
=====================*/

*,
*:focus {
    outline: none!important;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 8;
}
.wrapper {
    position: relative;
    width: 100%;
}
.ng-scope .page-content {
    padding: 0 0 30px 0;
}
.page-content {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.gray-box {
    background: #f7f7f7;
    padding: 40px;
    margin-bottom: 20px;
}
.white-box {
    padding: 30px 150px 30px 30px;
    margin-bottom: 20px;
}
.white-box p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.brdr-btm-box {
    border-bottom: 1px solid #c7c7c8;
}
.brdr-btm-box-orange {
    border-bottom: 1px solid #ff8851;
}
.fa-twitter {
    color: #2ba9e2;
}
.fa-linkedin-square {
    color: #0079b5;
}
.margin-bottom-30 {
    margin-bottom: 30px!important;
}
.small-txt {
    text-transform: capitalize;
    font-size: 17px;
    color: #626469;
    margin-left: 10px;
}
.or-spacer {
    display: block;
    text-align: center;
    margin: 15px 0;
    font-weight: 600;
    font-size: 17px;
}
.help-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    display: block;
}
.margin-0 {
    margin: 0!important;
}
/*Links
=========================*/

a:hover,
a:focus {
    text-decoration: none;
}
a.custom-links, .job-post-contact a {
    display: block;
    line-height: 30px;
    color: #4774b7;
    font-weight: 600;
    font-size: 17px;
}
.job-post-contact a{display: inline-block;}
/* Images
==========================*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Lists
==========================*/

div:not(.job-des) > ul {
    display: block;
    margin: 0;
    padding: 0;
}
div:not(.job-des) > ul li {
    display: block;
    margin: 0;
}
div:not(.job-des) > ul {
    list-style-type: none;
}
div:not(.job-des) > ol {
    padding: 0;
}
.job-des ul,
.job-des ol {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
/* Social-Lists  */

ul.social > li {
    float: left;
}
ul.social > li > a {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    text-align: left;
    line-height: 35px;
    font-size: 16px;
    color: #f2f2f2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.social > li:last-child a {
    margin-right: 0;
}
/*Site Map*/

ul.site-map {
    overflow: hidden;
}
ul.site-map > li {
    position: relative;
    display: block;
}
ul.site-map > li:before {
    content: "\f054";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
}
ul.site-map > li > a {
    display: block;
    padding-left: 20px;
    line-height: 40px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
}
/*long-right-list*/

ul.long-right-list {
    position: relative;
    display: block;
}
ul.long-right-list li {
    position: relative;
    padding-left: 20px;
    line-height: 30px;
    color: #626469;
}
ul.long-right-list > li:before {
    content: "\f178";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #4774b7;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
}
/*.job-des ul > li{position: relative;padding-left: 15px;line-height: 30px;}
.job-des ol > li{
    list-style-type: decimal;
}*/
/*Tags*/

ul.tags {
    display: block;
    overflow: hidden;
}
ul.tags > li {
    float: left;
}
ul.tags > li {
    display: block;
    padding: 0 13px;
    line-height: 25px;
    margin: 5px 5px;
    margin-bottom: 5px !important;
    background: #c8daf9;
    border-radius: 5px;
    margin-right: 5px !important;
}
.no-bg-tags > li > a {
    background: none!important;
    padding: 0 5px!important;
}
/*Social Share*/

ul.social-share {
    overflow: hidden;
}
ul.social-share > li {
    float: left;
}
ul.social-share > li > a {
    display: block;
    overflow: hidden;
    margin-right: 10px;
    line-height: 35px;
    font-weight: 600;
    background: #4774b7;
    border-radius: 5px;
    padding: 0 15px;
}
ul.social-share > li > a > i {
    display: block;
    float: left;
    line-height: 35px;
    text-align: center;
}
ul.social-share > li > a > span {
    margin-left: 10px;
    text-transform: uppercase;
}
/* Buttons
==========================*/

.custom-btn {
    display: block;
    text-align: center;
    background: #4774b7;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 44px;
    padding: 0 15px;
    /*    margin: 8px 0;*/
    
    font-weight: 600;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.custom-btn:focus,
.custom-btn:hover {
    opacity: 0.8;
}
.custom-btn-sm {
    line-height: 35px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
}
/* Tabs
==============================*/

.tabs .nav-tabs {
    margin-bottom: 30px;
    text-align: center;
}
.tabs .nav-tabs > li {
    display: inline-block;
    margin-bottom: 0;
    float: none;
}
.tabs .nav-tabs > li > a {
    background: none;
    margin-right: -1px;
    border: none;
    border-radius: 0;
    padding: 12px 20px;
    color: #515358;
    font-weight: 600;
    font-size: 17px;
    position: relative;
}
.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li.active > a {
    border: none;
    border-bottom: 1px solid #f47d46;
}
.tabs .tab-content {} .tabs .tab-content:before,
.tabs .tab-content:after {
    content: " ";
    display: table;
}
.tabs .tab-content:after {
    clear: both;
}
/*Widgets
==========================*/

.widget {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}
.widget .widget-title {
    margin-bottom: 25px;
    overflow: hidden;
}
.widget-title-elements {} .widget-title-elements > * {
    float: left;
}
.widget-title-elements > *:first-child {
    margin-right: 20px;
    float: left !important;
}
.widget-title-elements > *:last-child {
    float: left;
}
.widget .widget-content {} 
.about-widget > p {
    font-size: 16px;
    line-height: 24px;
    color: #f2f2f2;
}
/* Forms
============================*/

.form-group {
    overflow: hidden;
    margin-bottom: 22px;
}
.form-group label {
    text-align: right;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 40px;
    margin: 0px;
    font-weight: 600;
}
.subscribe .form-group label{text-align: left}
.form-group label.label-sm {
    line-height: 25px;
}
.form-group .form-control {
    height: 45px;
    -webkit-box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .15);
    box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .15);
}
.form-group textarea.form-control {
    resize: none;
    height: 135px;
    font-size: 17px;
}
.form-group .form-control:hover,
.form-group .form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .35);
    box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .35);
}
.form-group .label-block {
    display: block;
    text-align: left;
}
.form-group .form-control-inline {
    display: inline-block;
    width: auto;
}
.file-upload {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.file-upload .file-icon {
    float: left;
    width: 150px;
    height: 40px;
    background-color: #658fcf;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 5px;
    font-size: 17px;
    margin-right: 10px;
}
.file-upload .file-body {
    float: left;
    line-height: 40px;
    font-size: 17px;
}
input.custom-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* Radio and Checkbox item*/

.radio-item.radio-block,
.checkbox-item.radio-block {
    display: block;
}
.radio-item,
.checkbox-item {
    display: inline-block;
    vertical-align: top;
}
.radio-item input[type="radio"],
.checkbox-item input[type="checkbox"] {
    display: none;
}
.radio-item input[type="radio"] + label,
.checkbox-item input[type="checkbox"] + label {
    position: relative;
    width: auto !important;
    margin: 5px 5px 5px 30px !important;
    padding-left: 0px;
    cursor: pointer;
    vertical-align: top;
    color: #626469;
    font-size: 17px;
    line-height: 17px;
    font-weight: 100;
    text-transform: capitalize;
}
.radio-item input[type="radio"] + label::before {
    border-radius: 50%;
}
.checkbox-item input[type="checkbox"] + label::before {
    border-radius: 3px;
}
.radio-item input[type="radio"] + label::before,
.checkbox-item input[type="checkbox"] + label::before {
    content: "";
    display: block;
    font-family: 'FontAwesome';
    text-align: center;
    position: absolute;
    left: -28px;
    top: 0px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #626469;
    border: 1px solid #9ea1a7;
}
.radio-item input[type="radio"]:checked + label::before {
    content: "\f111";
    color: #616367;
    font-size: 11px;
    border: 1px solid #616367;
}
.checkbox-item input[type="checkbox"]:checked + label::before {
    content: "\f00c ";
    background-color: #5b5e61;
    font-size: 13px;
}
.form-img,
.form-icon {
    position: relative;
}
.form-icon > input {
    padding-left: 50px;
}
.form-icon > i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    text-align: center;
    line-height: 45px;
    width: 40px;
    border-right: 1px solid #ddd;
}
.form-img > input {
    padding-right: 135px;
}
.form-img > img {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    height: 22px;
    text-align: center;
    width: 130px;
    border-right: 1px solid #ddd;
}

.price-kind {
    margin-top: 20px;
}
.price-kind,
.price-range,
.currency,
.price-range .max-price,
.price-range .min-price {
    float: left;
}
.ccv-form input,
.visa-expir input {
    max-width: 170px;
    float: left;
}
.visa-expir span {
    display: block;
    float: left;
    line-height: 40px;
    margin-left: 10px;
    font-size: 17px;
}
.zip-form input {
    max-width: 220px;
}
.paypal-method {
    display: inline-block;
}
/* Heading
====================*/

.title {
    position: relative;
    margin: 0;
    font-size: 21px;
    line-height: 30px;
    text-transform: uppercase;
}
.subtitle {
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.title.has-border {
    display: inline-block;
    border-bottom: 2px solid #ff8851;
    padding-bottom: 15px;
}
.title.has-after:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    height: 2px;
    width: 70px;
}
.text-red {
    color: #ff6a26!important;
}
.text-white {
    color: #f2f2f2!important;
}
.title-with-background {
    background-color: #ff8851;
    color: #fff !important;
    padding-bottom: 0;
    width: 215px;
    height: 38px;
    line-height: 37px;
    padding-left: 20px;
}
.view-all h2.title-with-background{width: auto;padding-right: 35px;}
.title-with-background:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border-width: 20px 15px 20px 15px;
    border-style: solid;
    border-color: white white #ff8851 #ff8851;
}
/* paragraphs
==========================*/

.custom-p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 20px;
}
.btn-submit {
    padding: 15px 50px;
    background-color: #ff6a26;
    font-size: 22px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-submit:hover,
.btn-submit:focus {
    background-color: #e95c1c;
}
/* header
==========================*/

.header {
    padding: 20px 0;
    background: #f2f2f2;
}
.header .logo {
    display: block;
    float: left;
}
.header .head-btn {
    float: right;
}
@media(max-width:600px) {
    .header .logo, .header .head-btn {
        float: none;
        margin: 0 auto 10px auto;
        max-width: 250px;
    }
}
/* Footer
==========================*/

.footer {
    background: #434145;
    position: relative;
    z-index: -10;
    padding: 50px 0;
}
.footer .widget .widget-title {
    overflow: visible;
}
.footer .social .fa {
    color: #fff;
}
.copy-right {
    color: #a2a2a2;
    margin-top: 50px;
}
/* Home Slider
==========================*/

.home-slider {
    position: relative;
}
.home-slider .slider-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.home-slider .slider-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.home-slider .slider-img:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
    top: 0;
}
.home-slider .slider-content {
    text-align: center;
    margin: 35px 0;
    padding: 0 30px;
}
.home-slider .slider-content h3 {
    font-size: 44px;
    margin: 0 0 30px;
    letter-spacing: 0.5px;
}
.home-slider .slider-content h3 span:first-child {
    font-weight: 600;
}
.home-slider .slider-content p {
    line-height: 27px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
/* page-head 
============================*/

.page-head {
    width: 100%;
    padding: 35px 0;
    background-image: url(https://d1kfoj65t4lfct.cloudfront.net/assets/page-head.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.page-content .page-head {margin-bottom: 35px;}
.page-head .page-title {
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 70px;
    margin: 0;
    float: left;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
}
.page-head .page-title > i {
    margin-right: 5px;
}
.page-head .page-title:hover {
    color: #f47d46;
}
/*Wizard Head
============================*/

.wizard-head {
    float: right;
    overflow: hidden;
    padding: 20px 55px;
    line-height: 30px;
    background: #5e6065;
    background-image: url(https://d1kfoj65t4lfct.cloudfront.net/assets/wizard-head.png);
    background-size: cover;
    border-radius: 6px;
}
.wizard-head > a {
    display: block;
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 30px;
}
.wizard-head > a > span {
    display: block;
    float: left;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #444549;
    border-radius: 100%;
    margin-right: 10px;
}
.wizard-head > a:hover {
    color: #f2f2f2;
}
/*Job Category
============================*/

.job-category {
    padding: 20px 30px;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    background-color: #ededed;
    position: relative;
}
.job-category.job-category-yellow {
    background-color: #fdfaec;
}
.job-category > .job-head {
    overflow: hidden;
}
.job-category > .job-head > .job-info {
    float: left;
    overflow: hidden;
}
.job-category > .job-head > .job-info > .job-title {
    display: block;
    float: left;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #4774b7;
    margin: 0;
    margin-right: 15px;
}
.job-category > .job-head > .job-info > .new-job {
    display: block;
    float: left;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 0 12px;
    font-size: 17px;
    margin: 0;
    margin-right: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.job-category > .job-head > .job-info > .job-price-range {
    display: block;
    float: left;
    font-weight: 600;
    color: #4774b7;
    line-height: 30px;
    font-size: 16px;
}
.job-category > .job-head > .job-date,
.job-edit {
    float: right;
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.job-edit a {
    color: red;
    font-size: 20px;
}
.job-category > .job-author {
    overflow: hidden;
}
.job-category > .job-author > .job-author-name {
    display: block;
    float: left;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    line-height: 40px;
}
.job-category > .job-author > .job-author-visa {
    display: block;
    float: left;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 0 10px;
    line-height: 40px;
}
/*
.widget-jobs-light .job-category {
    background: #fdfaec;
}
.widget-jobs-gray .job-category {
    background: #ededed;
}
*/
/*Job Post
=========================*/

.job-post-wrap > .job-post-item > .job-post-head {
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
}
.job-post-wrap .job-post-head .job-post-visa {
    font-size: 17px;
    font-weight: 600;
}
.job-post-wrap .job-post-head .job-post-title {
    font-weight: 600;
    font-size: 32px;
    color: #616367;
    margin: 0 0 5px;
}
.job-post-wrap .job-post-head .job-post-type {
    font-size: 17px;
    color: #616367;
    margin: 0 0 5px;
}
.job-post-wrap .job-post-head .job-post-subtitle {
    font-weight: 600;
    font-size: 27px;
    color: #616367;
    margin: 0 0 5px;
}
.job-post-wrap .job-post-head .job-post-links {
    display: inline-block;
    margin-bottom: 5px;
}
.job-post-wrap .job-post-head .job-post-visa > span {
    margin-right: 5px;
}
.job-post-wrap h3.subtitle {
    color: #ff6a26;
    line-height: 40px;
    margin: 15px 0 0 0;
    font-size: 22px;
}
.job-post-wrap .job-post-body p {
    color: #626469;
    font-size: 15px;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 27px;
}
.job-post-wrap > .job-post-contact h3.subtitle {
    margin: 0 0 10px;
}
.job-post-wrap > .job-post-contact a.custom-links {
    display: inline-block;
}
.job-post-contact {
    
}
.job-post-wrap .share-post {
    padding: 15px 20px;
    margin-top: 50px;
}
.job-post-wrap .share-post > a {
    display: block;
    font-weight: 600;
    color: #616367;
    line-height: 40px;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.job-post-wrap .share-post > a > i {
    display: block;
    float: left;
    width: 25px;
    line-height: 40px;
    font-size: 18px;
}
.job-post-wrap .share-post > p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
}
.job-post-wrap .share-post > p > a {
    font-size: 14px;
}
.job-post-ads {
    padding: 20px 30px;
}
.job-post-ads h3.subtitle {
    text-transform: capitalize;
    margin: 0;
}
.job-post-ads .ads-price {
    display: block;
    color: #4774b7;
    font-weight: 600;
    font-size: 17px;
}
.job-post-ads img {
    margin-top: 30px;
}
/*Job Post Review
===========================*/

.job-post-review,
.job-post-review {
    overflow: hidden;
    font-size: 17px;
    font-weight: 600;
    color: #6a6c6f;
}
.white-box a,
.job-post-review a {
    display: inline-block!important;
    margin-right: 10px;
}
.white-box a.custom-btn,
.job-post-review a:first-child {
    font-size: 18px;
    letter-spacing: 0.5px;
}
.white-box a:last-child,
.job-post-review a:last-child {
    margin-left: 10px;
}
.send-cv {
    margin-top: 15px;
    display: inline-block;
}
/*Site Responsive
=================================*/

@media(max-width:991px) {
    .page-head .page-title {
        display: block;
        float: none;
    }
    .wizard-head {
        float: none;
        padding: 20px 15px;
    }
    .wizard-head > a {
        display: block;
        margin-bottom: 10px;
        float: none;
    }
    .white-box {
        padding: 13px;
    }
}
@media(max-width:767px) {
    .gray-box {
        padding: 20px;
    }
    /*Home Slider*/
    
    .home-slider .slider-content {
        margin: 75px 0;
        padding: 0!important;
    }
    .home-slider .slider-content h3 {
        font-size: 30px;
    }
    .home-slider .slider-content p {
        line-height: 22px;
        font-size: 15px;
        letter-spacing: 0.1px;
    }
    /*tabs*/
    
    .tabs .nav-tabs > li {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 2px;
    }
    .tabs .nav-tabs > li > a {
        margin-right: 0 !important;
    }
    .tabs .nav-tabs > li.active > a {
        border-bottom: 2px solid #dcdcdc !important;
    }
    /*Job Category*/
    
    .job-category > .job-head > .job-info > .job-title {
        float: none;
    }
    .job-category {
        padding: 20px 15px;
    }
    .job-category > .job-head > .job-info > .new-job {
        margin-left: 0;
    }
    .widget-title-elements {
        padding-bottom: 10px;
    }
    .brdr-btm-box-orange.widget-title-elements {
        padding-bottom: 0;
    }
    .widget-title-elements >:first-child {
        margin-bottom: 10px;
    }
    .widget-title-elements > *:last-child {
        float: left;
        margin: 0;
    }
    ul.social-share > li > a {
        margin-right: 5px;
        padding: 0 12px;
    }
    .job-post-author {
        margin-top: 15px;
    }
    .title-block {
        display: block;
        width: 100%;
    }
    /* Create Jop*/
    
    .form-group label.label-grouped {
        margin-bottom: 30px;
        text-align: center;
    }
}

.job-post-author img {
    max-height: 156px;
}

@media(max-width:474px) {
    /*Custom Btn*/
    
    .custom-btn {
        font-size: 14px;
        line-height: 35px;
        padding: 0 10px;
    }
    /*Home Slider*/
    
    .home-slider .slider-content {
        margin: 30px 0;
    }
    .home-slider .slider-content h3 {
        font-size: 25px;
    }
    .home-slider .slider-content p {
        line-height: 22px;
        text-align: center
    }
    .small-txt {
        font-size: 12px;
    }
}

/*Combine Css
===========================*/
/*color #fff*/

ul.site-map > li:before,
ul.site-map > li > a,
ul.social-share > li > a,
ul.social-share > li > a > i,
.custom-btn,
.custom-btn:focus,
.custom-btn:hover,
.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li.active > a,
.file-upload .file-icon,
.checkbox-item input[type="checkbox"]:checked + label::before,
.btn-submit,
.home-slider .slider-content h3,
.home-slider .slider-content p,
.page-head .page-title,
.wizard-head > a.active > span,
.wizard-head > a:hover > span,
.job-category > .job-head > .job-info > .new-job,
.footer .title {
    color: #fff;
}
/*background #fff*/

body,
.job-post-wrap .share-post,
.white-box {
    background: #fff;
}
/*color #f47d46*/

a:hover,
a:focus ul.social > li:hover a,
ul.site-map > li:hover:before,
ul.site-map > li:hover > a,
.job-post-wrap .job-post-head .job-post-visa > span,
.job-category > .job-author > .job-author-visa,
.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li.active > a,
.home-slider .slider-content h3 span:first-child {
    color: #f47d46;
}
/*background f47d46*/

.job-category > .job-head > .job-info > .new-job,
.white-box a.custom-btn,
.job-post-review a:first-child,
.wizard-head > a.active > span,
.wizard-head > a:hover > span,
.title.has-after:after,
.orange-bg > a {
    background: #f47d46!important;
}
/*color 616061*/

.help-text,
ul.tags > li > a,
.form-group label,
.form-group textarea.form-control,
.file-upload .file-body,
.title,
.subtitle,
.custom-p,
.job-category > .job-head > .job-date,
.job-post-ads h3.subtitle {
    color: #616061;
}
.job-date{position: absolute;top: 20px; right: 30px;}
.error-msg {
    color: red;
    display: block;
}
.loader-container {
    position: relative;
}
.loader-container .loader {
    position: absolute;
    right: 50%;
    bottom: 3px
}
.printvalue {
    margin: 10px;
}
chips {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .15);
    background: #fff;
}
chip-tmpl {
    display: block;
    float: left;
    padding: 5px;
    background: #ccc;
    color: #616061;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
}
input.ng-scope {
    border: 0;
    line-height: 35px
}
.thankyou-page h1 {
    text-align: center;
    padding: 150px 0;
    display: block;
}
#card-number,
.form-img,
#expiration-date,
#cvv {
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: none;
    line-height: 26px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    height: 45px;
    color: #3A3A3A;
    box-shadow: inset 0px 3px 2px -2px rgba(0, 0, 0, .15);
}
.form-img > input {
    padding-right: 135px;
}
#expiration-date,
#cvv {
    max-width: 170px;
}
#card-number {
    padding: 0;
    border: 0;
    box-shadow: none;
    height: 25px;
}
.form-img: focus,
#expiration-date:focus,
#cvv:focus {
    color: blue;
}
.form-img. valid,
#expiration-date.valid,
#cvv.valid {
    color: green;
}
.form-img. invalid,
#expiration-date.invalid,
#cvv.invalid {
    color: red;
}
@media(max-width:767px) {
    .form-img, #expiration-date, #cvv {
        font-size: 14px;
    }
}
.pb0 {
    padding-bottom: 0 !important;
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#modal, #rep-job-modal, #rem-job-modal {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: -100px;
    text-align: center;
}
.modal-wrapper {
    max-width: 580px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
}
.modal-wrapper span.close {
    float: right;
    display: inline-block;
}
.modal-wrapper .form-group {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.modal-wrapper .form-group label {
    display: block;
    margin-bottom: 5px;
    float: left;
}
.modal-wrapper .form-group .input-control {
    width: 100%;
    line-height: 26px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
}
.form-group .input-control {
    width: 100%;
    line-height: 26px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
}
.right-col.subscribe .form-group{margin-bottom: 5px !important;}
.right-col.subscribe .form-group label{line-height: 28px;}
.pos-rel {
    position: relative;
}
.open {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -9
}
#search-result .job-category {
    margin-bottom: 10px;
}
.editable-ele {
    min-height: 150px;
}
.page-title.mb15 {
    display: block;
    margin-bottom: 15px;
}
.del-img {
    float: right;
    display: inline-block;
}
.job-type {
    display: inline-block;
    float: left;
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
}
.dis-inline {
    display: inline-block
}
#sub_model {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sub_model_wrapper {
    position: fixed;
    top: 35%;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 15px;
    background: #c8daf9;
    max-width: 320px;
    border-radius: 3px;
}
#sub_model span {
    display: block;
}
#sub_model form {
    display: block;
    float: left;
    width: 100%;
    margin-top: 5px;
}
#sub_model .form-group {
    margin: 7px 0;
}
#sub_model .input-control {
    width: 100%;
    line-height: 25px;
    padding: 5px 7px;
}
.pagination {
    float: left;
    width: 100%;
    margin: 15px 0 !important;
}
.paginator a {
    display: block;
    padding: 0 7px;
    line-height: 25px;
    margin: 0 3px;
    float: left;
    background: #c8daf9;
    color: #616061;
}
.job-des p span {
    text-decoration: underline;
}
#lionGator {
    min-height: 500px;
}
.fr {
    float: right
}
.wrapper.open {
    position: relative
}
.wrapper.open:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.edit-price {
    font-size: 14px;
    text-transform: none;
    display: inline-block;
    margin-top: 10px;
}
.edit{height: 135px !important;overflow:auto;font-size: 17px;}
a{cursor: pointer;}
.page{display: none}
.page_1{display: block}
.pagination{display: block;width: 100%;float: left}
.pagination ul{display: block;float: left;border: 1px solid #f47d46;border-radius: 3px;}
.pagination ul li{float: left;list-style-type: none;border-left: 1px solid #f47d46;}
.pagination ul li a{display: block;padding: 5px 7px;color: #f47d46;}
.pagination ul li a.pre, .pagination ul li a.next{background: #f47d46;color: #fff;}
.pagination ul li a.active{color: #4774b7;}
.padd-l-15 ol, .padd-l-15 ul{padding-left: 15px !important;}
.report-job, .remote-job{float: right;font-size: 13px;color: #333;font-weight: 600;}
.report-job i{display: inline-block;margin-right: 3px;color: #333;font-weight: 600;}
#rem-job-modal, #rep-job-modal{display: none;text-align: left}
#rem-job-modal .form-group, #rep-job-modal .form-group{float: left;width:100%;}
#rep-job-modal .form-group > div, #rep-job-modal .form-group > p{float: left;width:100%;}
#rem-job-modal .modal-wrapper{overflow: hidden;}
.right-col.subscribe{background: #fff;padding-bottom: 15px;margin-top: 15px;margin-bottom: 15px;overflow: hidden;}
.right-col.subscribe h3{margin: 0 0 7px;}
.right-col.subscribe a{word-break: break-all}
.ml15{margin-left: 15px;}
.disable, .disable:hover {opacity: 0.5}
#submit, .show-hide{display: none;}
#subscribe, #submit{background: #fff;border: 1px solid #4774b7;color:#4774b7;line-height: 35px;border-radius: 0;}
#submit:hover, #subscribe:hover{background: #4774b7;color: #fff;}

.subscribe-email #sub_email{padding: 5px 10px;}
.mb0{margin-bottom: 0 !important;}
svg{background: #4774b7;margin-left: -30px;}

@keyframes f1 {
    0% {
        transform: translate(405.465767px, 27.149px) rotate(0deg) scale(.2, .2)
    }
    35% {
        transform: translate(74.356767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    36%,
    64% {
        opacity: 0
    }
    65% {
        transform: translate(416.170767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    to {
        transform: translate(162.628767px, 26.922px) rotate(320deg) scale(.2, .2)
    }
}

@keyframes f2 {
    0% {
        transform: translate(405.465767px, 27.149px) rotate(0deg) scale(.2, .2)
    }
    35% {
        transform: translate(74.356767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    36%,
    64% {
        opacity: 0
    }
    65% {
        transform: translate(416.170767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    to {
        transform: translate(256.627767px, 17.099px) rotate(386deg) scale(.15, .15)
    }
}

@keyframes f3 {
    0% {
        transform: translate(405.465767px, 27.149px) rotate(0deg) scale(.2, .2)
    }
    35% {
        transform: translate(74.356767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    36%,
    64% {
        opacity: 0
    }
    65% {
        transform: translate(416.170767px, 28.129px) rotate(720deg) scale(.1, .1);
        opacity: 1
    }
    to {
        transform: translate(315.111767px, 27.963px) rotate(310deg) scale(.1, .1)
    }
}

@keyframes env1 {
    0% {
        transform: translate(420.050767px, 30px);
        animation-timing-function: cubic-bezier(.051882, 0, .930859, .231217)
    }
    85.7142% {
        transform: translate(124.573767px, 29.815px)
    }
    to {
        transform: translate(61.050767px, 29.489px)
    }
}

@keyframes env2 {
    0%,
    34.4827%,
    41.3793%,
    86.2068%,
    to {
        transform: scale(.6, .6) translateY(-28px)
    }
    24.1379% {
        transform: scale(.8, .6) translateY(-28px)
    }
    31.0344% {
        transform: scale(.5, .6) translateY(-28px)
    }
    37.931% {
        transform: scale(.55, .6) translateY(-28px)
    }
    93.1034% {
        transform: scale(.63, .63) translateY(-28px)
    }
}

.s0 {
    fill: #fff
}

.s1 {
    fill: #00aff0
}

.s2 {
    fill: #bdbdbd
}

.s3 {
    fill: #e0e0e0
}

#f1 {
    animation: f1 2.8s linear .8s both
}

#f2 {
    animation: f2 2.8s linear 1.2s both
}

#f3 {
    animation: f3 2.8s linear 1.6s both
}

#env {
    animation: env1 .7s linear both
}

#env g {
    isolation: isolate;
    animation: env2 2.9s linear both
}
.job-head{padding-right: 40px;}
.padd-15{padding: 15px;}
.pt30{padding-top: 30px;}
#sub_email.error{border-color: red;}
.err-msg{color: red;}
.succ-msg{color: green;border-color: green;}
 .unbold{font-weight: 400 !important;}
@media(max-width : 992px){
    svg{width:100%;
    margin: 0;}
    .gray-box{padding: 20px;}
    }

    @media(max-width : 767px){
    svg{width:100%;
    margin: 0;}
    .gray-box{padding: 15px 10px;}
    .currency{width: 100%;}
    .price-range{margin: 0 -15px;}
    .min-price, .max-price{padding: 0 15px;margin: 0;width: 50%;}
    .title.has-border{width: auto;}
    .title.title-with-background{width: 215px;}
    .job-category > .job-head > .job-info > .job-price-range, .job-category > .job-head > .job-info > .new-job{margin-top: 5px;}
    .title{font-size: 18px;}
    .widget .widget-title{margin-bottom: 0;}
    .footer .widget .widget-title{margin-bottom: 25px;}
    .job-category{padding: 10px;}
    .job-category > .job-head > .job-info > .job-price-range, .job-category > .job-head > .job-info > .job-title{font-size: 16px;}
    .job-category > .job-head > .job-info > .job-price-range{font-size: 14px;}
    .job-date{top: 10px;right: 10px;font-size: 16px !important;}
    .job-category > .job-head > .job-info > .new-job{font-size: 14px;}
    .job-category > .job-author > .job-author-name{font-size: 14px;}
    .job-post-wrap .job-post-head .job-post-title, .job-post-wrap .job-post-head .job-post-subtitle{font-size: 24px;}
    .right-col.subscribe h3{font-size: 20px;}
    .footer{padding: 30px 0;}
    #modal .form-group label{line-height: 30px;font-size: 16px;}
    .modal-wrapper .form-group .input-control{line-height: 16px;}
    }

@media(max-width : 420px){
    .form-group label.label-grouped{margin-bottom: 10px;}
    .margin-bottom-30, .form-group{margin-bottom: 15px !important;}
    .m0{margin: 0;}
    .title{font-size: 16px;}
    .job-category > .job-head > .job-info > .job-price-range, .job-category > .job-head > .job-info > .job-title{width: 100%;}
    .widget-title-elements > *:first-child{margin-right: 10px;}
    .job-post-wrap .job-post-head .job-post-title, .job-post-wrap .job-post-head .job-post-subtitle{font-size: 20px;}
    .job-post-wrap h3.subtitle{font-size: 18px;line-height: 30px;margin-top: 5px;}
    .right-col.subscribe h3{font-size: 18px;}
    #subscribe, #submit{line-height: 30px;}
    .right-col.subscribe .form-group label{line-height: 20px;font-size: 16px;}
    .footer{padding: 20px 0;}
    .social-share{position: absolute;right: 80px;}
    a.custom-btn.custom-btn-sm{position: absolute;right: 0;}
    #modal .form-group{margin-bottom: 5px !important}
}
#time{font-size: 20px;line-height: 35px;}
label.cat-label{text-align: left}